<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <diepxuan_autologin>
            <general>
                <enable>1</enable>
                <username>admin</username>
                <allows>127.0.0.1</allows>
            </general>
        </diepxuan_autologin>
    </default>
</config>
